<html>
<head>
<title>Tumbleweed - <%= title %></title>
<link href='./stylesheets/challenge.css' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lobster+Two:100,400,400italic|Cabin' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="./tumblefeed.css" media="all" />
<link rel='shortcut icon' type='image/x-icon' href='favicon.ico' />
<link rel="stylesheet" type="text/css" href="funkydori-web-stuff/funkydori.css" media="all" />
<link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Cabin|PT+Sans' rel='stylesheet' type='text/css'>
<link href='animate.css' rel='stylesheet' type='text/css'>
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
 <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
 <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
</head>
<body>
<div class="header-container"><div class="logo"><img src="/images/logo-sm.png"></div></div>
<div class="challenge-feed-container">
<div class="challenge-container"><div class="user-container"><img src="/images/iconfemale2.png"><br><%= name %></div><div class="info-container"><br><span id="challenge-top-text">Time: TIME_HERE / <%= visibility %></span><br><span id="challenge-main-text"><%= title %></span><br><span id="challenge-sub-text"><%= description %><br>
<% if (typeof example === 'undefined') { %>
	<img src="http://lorempixel.com/400/200/nature/Example/">
<% } else { %><%= example %><% } %>
</span><br><span id="tags">PUT_TAGS_HERE</span></div></div>
<div class="challenge-container"><div class="user-container"><img src="/images/iconmale1.png"><br>USERNAME</div><div class="info-container"><img src="http://lorempixel.com/500/300/abstract/Solution/"><br><span id="challenge-main-text">SOLUTION_TITLE	<img src="/images/verified.png"></span><br><span id="challenge-sub-text">SOLUTION_DESCRIPTION</span><br></div></div>
</div>
</body>
</html>

